<div class="accordion">
  <ul>

    <li tabindex="0">
      <div class="title">Build KPI Data</div>
      <div class="content">


        <div>
          <div style="width:25%;float:left"><label title="Enter manual build time in hour">Manual Build Time(hour):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:manualbuildtime_input" name="kpidataform:j_idt49:manualbuildtime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual build time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualbuildtime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualbuildtime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualbuildtime_hinput" name="kpidataform:j_idt49:manualbuildtime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label title="Enter manual build cost in dollar">Manual Build Cost($):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:manualbuildcost_input" name="kpidataform:j_idt49:manualbuildcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual build cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualbuildcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualbuildcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualbuildcost_hinput" name="kpidataform:j_idt49:manualbuildcost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <br />
        <div style="clear:both"></div>

        <div>
          <div style="width:25%;float:left"><label title="Enter auto build time in hour">Auto Build Time(hour):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:autobuildtime_input" name="kpidataform:j_idt49:autobuildtime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto build time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autobuildtime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autobuildtime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autobuildtime_hinput" name="kpidataform:j_idt49:autobuildtime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label title="Enter auto build cost in dollar">Auto Build Cost($):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:autobuildcost_input" name="kpidataform:j_idt49:autobuildcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto build cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autobuildcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autobuildcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autobuildcost_hinput" name="kpidataform:j_idt49:autobuildcost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <br />
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label title="Enter build script creation time in hour">Script Creation Time(hour):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:scriptcreationtime_input" name="kpidataform:j_idt49:scriptcreationtime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter build script creation time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationtime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationtime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationtime_hinput" name="kpidataform:j_idt49:scriptcreationtime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label title="Enter build script creation cost in dollar">Script Creation Cost($):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:scriptcreationcost_input" name="kpidataform:j_idt49:scriptcreationcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter build script creation cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationcost_hinput" name="kpidataform:j_idt49:scriptcreationcost_hinput" type="hidden" autocomplete="off"></span></div>


        </div>
        <br />
        <div style="clear:both"></div>
        <hr />
        <div>
          <div style="width:33%;float:left">
            <button class="btn">Reset</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn">Delete</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn primary">Save</button>
          </div>
        </div>
        <br />
        <div style="clear:both"></div>
      </div>
    </li>

    <li tabindex="0">
      <div class="title">Deploy KPI Data</div>
      <div class="content">

        <div>
          <div style="width:25%;float:left"><label title="Enter manual deploy time in hour">Manual Deploy Time(hour):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:manualdeploytime_input" name="kpidataform:j_idt49:manualdeploytime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual deploy time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualdeploytime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualdeploytime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualdeploytime_hinput" name="kpidataform:j_idt49:manualdeploytime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label title="Enter manual deploy cost in dollar">Manual Deploy Cost($):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:manualdeploycost_input" name="kpidataform:j_idt49:manualdeploycost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual deploy cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualdeploycost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualdeploycost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualdeploycost_hinput" name="kpidataform:j_idt49:manualdeploycost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <br />
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label title="Enter auto deploy time in hour">Auto Deploy Time(hour):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:autodeploytime_input" name="kpidataform:j_idt49:autodeploytime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto deploy time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autodeploytime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autodeploytime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autodeploytime_hinput" name="kpidataform:j_idt49:autodeploytime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label title="Enter auto deploy cost in dollar">Auto Deploy Cost($):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:autodeploycost_input" name="kpidataform:j_idt49:autodeploycost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto deploy cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autodeploycost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autodeploycost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autodeploycost_hinput" name="kpidataform:j_idt49:autodeploycost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <br />
        <div style="clear:both"></div>

        <div>
          <div style="width:25%;float:left"><label title="Enter deploy script creation time in hour">Script Creation Time(hour):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:scriptcreationtimedeploy_input" name="kpidataform:j_idt49:scriptcreationtimedeploy_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter deploy script creation time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationtimedeploy&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationtimedeploy&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationtimedeploy_hinput" name="kpidataform:j_idt49:scriptcreationtimedeploy_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label title="Enter deploy script creation cost in dollar">Script Creation Cost($):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:scriptcreationcostdeploy_input" name="kpidataform:j_idt49:scriptcreationcostdeploy_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter deploy script creation cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationcostdeploy&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationcostdeploy&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationcostdeploy_hinput" name="kpidataform:j_idt49:scriptcreationcostdeploy_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <br />
        <div style="clear:both"></div>
        <hr />
        <div>
          <div style="width:33%;float:left">
            <button class="btn">Reset</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn">Delete</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn primary">Save</button>
          </div>
        </div>
        <br />
        <div style="clear:both"></div>
      </div>
    </li>

    <li tabindex="0">
      <div class="title">Code Scan KPI Data</div>
      <div class="content">
        <div>
          <div style="width:25%;float:left"><label title="Enter manual code scan time in hour">Manual Code Scan Time(hour):</label></div>
          <div style="width:25%;float:left"><span class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:manualcodescantime_input" name="kpidataform:j_idt49:manualcodescantime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual code scan time in hour"><input id="kpidataform:j_idt49:manualcodescantime_hinput" name="kpidataform:j_idt49:manualcodescantime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label class="ui-outputlabel ui-widget" title="Enter manual code scan cost in dollar">Manual Code Scan Cost($):</label></div>
          <div style="width:25%;float:left"><span class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:manualcodescancost_input" name="kpidataform:j_idt49:manualcodescancost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual code scan cost in dollar"><input id="kpidataform:j_idt49:manualcodescancost_hinput" name="kpidataform:j_idt49:manualcodescancost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>

        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt91" class="ui-outputlabel ui-widget" style="font-weight:bold;margin-left:5px;white-space: nowrap" title="Enter code scan script creation time in hour">Script Creation Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationtimescan" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:scriptcreationtimescan_input" name="kpidataform:j_idt49:scriptcreationtimescan_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter code scan script creation time in hour"><input id="kpidataform:j_idt49:scriptcreationtimescan_hinput" name="kpidataform:j_idt49:scriptcreationtimescan_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt92" class="ui-outputlabel ui-widget" title="Enter code scan script creation cost in dollar">Script Creation Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationcostscan" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:scriptcreationcostscan_input" name="kpidataform:j_idt49:scriptcreationcostscan_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter code scan script creation cost in dollar"><input id="kpidataform:j_idt49:scriptcreationcostscan_hinput" name="kpidataform:j_idt49:scriptcreationcostscan_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <hr />
        <br>
        <div>
          <div style="width:33%;float:left">
            <button class="btn">Reset</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn">Delete</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn primary">Save</button>
          </div>
        </div>
        <br />
        <div style="clear:both"></div>
      </div>

    </li>

    <li tabindex="0">
      <div class="title">Release Notes KPI Data</div>
      <div class="content">

        <div>
          <div style="width:25%;float:left"><label title="Enter manual notes creation time in hour">Manual Notes Creation Time(hour):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:manualnotescreationtime_input" name="kpidataform:j_idt49:manualnotescreationtime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual notes creation time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualnotescreationtime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualnotescreationtime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualnotescreationtime_hinput" name="kpidataform:j_idt49:manualnotescreationtime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label title="Enter manual notes creation cost in dollar">Manual Notes Creation Cost($):</label></div>
          <div style="width:25%;float:left"><span><input id="kpidataform:j_idt49:manualnotescreationcost_input" name="kpidataform:j_idt49:manualnotescreationcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual notes creation cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualnotescreationcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualnotescreationcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualnotescreationcost_hinput" name="kpidataform:j_idt49:manualnotescreationcost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt105" class="ui-outputlabel ui-widget" title="Enter auto notes creation time in hour">Auto Notes Creation Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autonotescreationtime" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:autonotescreationtime_input" name="kpidataform:j_idt49:autonotescreationtime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto notes creation time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autonotescreationtime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autonotescreationtime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autonotescreationtime_hinput" name="kpidataform:j_idt49:autonotescreationtime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt106" class="ui-outputlabel ui-widget" title="Enter auto notes creation cost in dollar">Auto Notes Creation Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autonotescreationcost" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:autonotescreationcost_input" name="kpidataform:j_idt49:autonotescreationcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto notes creation cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autonotescreationcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autonotescreationcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autonotescreationcost_hinput" name="kpidataform:j_idt49:autonotescreationcost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt108" class="ui-outputlabel ui-widget" title="Enter release script creation time in hour">Script Creation Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationtimerelease" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:scriptcreationtimerelease_input" name="kpidataform:j_idt49:scriptcreationtimerelease_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter release script creation time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationtimerelease&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationtimerelease&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationtimerelease_hinput" name="kpidataform:j_idt49:scriptcreationtimerelease_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt109" class="ui-outputlabel ui-widget" title="Enter release script creation cost in dollar">Script Creation Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationcostrelease" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:scriptcreationcostrelease_input" name="kpidataform:j_idt49:scriptcreationcostrelease_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter release script creation cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationcostrelease&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationcostrelease&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationcostrelease_hinput" name="kpidataform:j_idt49:scriptcreationcostrelease_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt111" class="ui-outputlabel ui-widget" title="Enter release manager available cost in dollar">Release Manager Available Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:releasemanageravcost" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:releasemanageravcost_input" name="kpidataform:j_idt49:releasemanageravcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter release manager available cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:releasemanageravcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:releasemanageravcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:releasemanageravcost_hinput" name="kpidataform:j_idt49:releasemanageravcost_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left">
            <label id="kpidataform:j_idt49:j_idt112" class="ui-outputlabel ui-widget" title="Enter notes frequency">Notes Frequency:</label>
          </div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:notesfrequency" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:notesfrequency_input" name="kpidataform:j_idt49:notesfrequency_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter notes frequency" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:notesfrequency&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:notesfrequency&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:notesfrequency_hinput" name="kpidataform:j_idt49:notesfrequency_hinput" type="hidden" autocomplete="off"></span></div>

        </div>
        <div style="clear:both"></div>
        <hr />
        <div>
          <div style="width:33%;float:left">
            <button class="btn">Reset</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn">Delete</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn primary">Save</button>
          </div>
        </div>
        <br />
        <div style="clear:both"></div>
      </div>
    </li>


    <li tabindex="0">
      <div class="title">Secure Scan KPI Data</div>
      <div class="content">


        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt122" class="ui-outputlabel ui-widget"  title="Enter manual secure scan time in hour">Manual Secure Scan Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:manualsecurescantime" class="ui-inputnumber ui-widget inputOnDataTable" ><input id="kpidataform:j_idt49:manualsecurescantime_input" name="kpidataform:j_idt49:manualsecurescantime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual secure scan time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualsecurescantime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualsecurescantime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualsecurescantime_hinput" name="kpidataform:j_idt49:manualsecurescantime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt123" class="ui-outputlabel ui-widget"  title="Enter manual secure scan cost in dollar">Manual Secure Scan Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:manualsecurescancost" class="ui-inputnumber ui-widget inputOnDataTable" ><input id="kpidataform:j_idt49:manualsecurescancost_input" name="kpidataform:j_idt49:manualsecurescancost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual secure scan cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualsecurescancost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualsecurescancost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualsecurescancost_hinput" name="kpidataform:j_idt49:manualsecurescancost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt125" class="ui-outputlabel ui-widget"  title="Enter auto secure scan time in hour">Auto Secure Scan Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autosecurescantime" class="ui-inputnumber ui-widget inputOnDataTable" ><input id="kpidataform:j_idt49:autosecurescantime_input" name="kpidataform:j_idt49:autosecurescantime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto secure scan time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autosecurescantime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autosecurescantime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autosecurescantime_hinput" name="kpidataform:j_idt49:autosecurescantime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt126" class="ui-outputlabel ui-widget"  title="Enter auto secure scan cost in dollar">Auto Secure Scan Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autosecurescancost" class="ui-inputnumber ui-widget inputOnDataTable" ><input id="kpidataform:j_idt49:autosecurescancost_input" name="kpidataform:j_idt49:autosecurescancost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto secure scan cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autosecurescancost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autosecurescancost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autosecurescancost_hinput" name="kpidataform:j_idt49:autosecurescancost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt128" class="ui-outputlabel ui-widget"  title="Enter secure scan script creation time in hour">Script Creation Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationtimesecure" class="ui-inputnumber ui-widget inputOnDataTable" ><input id="kpidataform:j_idt49:scriptcreationtimesecure_input" name="kpidataform:j_idt49:scriptcreationtimesecure_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter secure scan script creation time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationtimesecure&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationtimesecure&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationtimesecure_hinput" name="kpidataform:j_idt49:scriptcreationtimesecure_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt129" class="ui-outputlabel ui-widget"  title="Enter secure scan script creation cost in dollar">Script Creation Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationcostsecure" class="ui-inputnumber ui-widget inputOnDataTable" ><input id="kpidataform:j_idt49:scriptcreationcostsecure_input" name="kpidataform:j_idt49:scriptcreationcostsecure_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter secure scan script creation cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationcostsecure&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationcostsecure&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationcostsecure_hinput" name="kpidataform:j_idt49:scriptcreationcostsecure_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt131" class="ui-outputlabel ui-widget"  title="Enter manual scan frequency">Manual Scan Frequency:</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:manualscanfrequency" class="ui-inputnumber ui-widget inputOnDataTable" ><input id="kpidataform:j_idt49:manualscanfrequency_input" name="kpidataform:j_idt49:manualscanfrequency_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual scan frequency" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualscanfrequency&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualscanfrequency&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualscanfrequency_hinput" name="kpidataform:j_idt49:manualscanfrequency_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt132" class="ui-outputlabel ui-widget"  title="Enter auto scan frequency">Auto Scan Frequency:</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autoscanfrequency" class="ui-inputnumber ui-widget inputOnDataTable" ><input id="kpidataform:j_idt49:autoscanfrequency_input" name="kpidataform:j_idt49:autoscanfrequency_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto scan frequency" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autoscanfrequency&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autoscanfrequency&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autoscanfrequency_hinput" name="kpidataform:j_idt49:autoscanfrequency_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <hr />
        <div>
          <div style="width:33%;float:left">
            <button class="btn">Reset</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn">Delete</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn primary">Save</button>
          </div>
        </div>
        <br />
        <div style="clear:both"></div>
      </div>
    </li>

    <li tabindex="0">
      <div class="title">Software Download KPI Data</div>
      <div class="content">

        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt142" class="ui-outputlabel ui-widget" title="Enter manual software download time in hour">Manual Software Download Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:manualswdownloadtime" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:manualswdownloadtime_input" name="kpidataform:j_idt49:manualswdownloadtime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual software download time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualswdownloadtime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualswdownloadtime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualswdownloadtime_hinput" name="kpidataform:j_idt49:manualswdownloadtime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt143" class="ui-outputlabel ui-widget" title="Enter manual software download cost in dollar">Manual Software Download Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:manualswdownloadcost" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:manualswdownloadcost_input" name="kpidataform:j_idt49:manualswdownloadcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual software download cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualswdownloadcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualswdownloadcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualswdownloadcost_hinput" name="kpidataform:j_idt49:manualswdownloadcost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt145" class="ui-outputlabel ui-widget" title="Enter auto software download time in hour">Auto Software Download Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autoswdownloadtime" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:autoswdownloadtime_input" name="kpidataform:j_idt49:autoswdownloadtime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto software download time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autoswdownloadtime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autoswdownloadtime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autoswdownloadtime_hinput" name="kpidataform:j_idt49:autoswdownloadtime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt146" class="ui-outputlabel ui-widget" title="Enter auto software download cost in dollar">Auto Software Download Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autoswdownloadcost" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:autoswdownloadcost_input" name="kpidataform:j_idt49:autoswdownloadcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto software download cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autoswdownloadcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autoswdownloadcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autoswdownloadcost_hinput" name="kpidataform:j_idt49:autoswdownloadcost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt148" class="ui-outputlabel ui-widget" title="Enter software download script creation time in hour">Script Creation Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationtimedownload" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:scriptcreationtimedownload_input" name="kpidataform:j_idt49:scriptcreationtimedownload_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter software download script creation time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationtimedownload&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationtimedownload&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationtimedownload_hinput" name="kpidataform:j_idt49:scriptcreationtimedownload_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt149" class="ui-outputlabel ui-widget" title="Enter software download script creation cost in dollar">Script Creation Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationcostdownload" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:scriptcreationcostdownload_input" name="kpidataform:j_idt49:scriptcreationcostdownload_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter software download script creation cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationcostdownload&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationcostdownload&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationcostdownload_hinput" name="kpidataform:j_idt49:scriptcreationcostdownload_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <hr />
        <div>
          <div style="width:33%;float:left">
            <button class="btn">Reset</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn">Delete</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn primary">Save</button>
          </div>
        </div>
        <br />
        <div style="clear:both"></div>
      </div>
    </li>

    <li tabindex="0">
      <div class="title">Test KPI Data</div>
      <div class="content">
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt159" class="ui-outputlabel ui-widget" title="Enter manual test time in hour">Manual Test Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:manualtesttime" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:manualtesttime_input" name="kpidataform:j_idt49:manualtesttime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual test time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualtesttime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualtesttime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualtesttime_hinput" name="kpidataform:j_idt49:manualtesttime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt160" class="ui-outputlabel ui-widget" title="Enter manual test cost in dollar">Manual Test Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:manualtestcost" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:manualtestcost_input" name="kpidataform:j_idt49:manualtestcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual test cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualtestcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualtestcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualtestcost_hinput" name="kpidataform:j_idt49:manualtestcost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt162" class="ui-outputlabel ui-widget" title="Enter auto test time in hour">Auto Test Time(hour):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autotesttime" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:autotesttime_input" name="kpidataform:j_idt49:autotesttime_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto test time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autotesttime&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autotesttime&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autotesttime_hinput" name="kpidataform:j_idt49:autotesttime_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt163" class="ui-outputlabel ui-widget" title="Enter auto test cost in dollar">Auto Test Cost($):</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autotestcost" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:autotestcost_input" name="kpidataform:j_idt49:autotestcost_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto test cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autotestcost&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autotestcost&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autotestcost_hinput" name="kpidataform:j_idt49:autotestcost_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left">
            <label id="kpidataform:j_idt49:j_idt165" class="ui-outputlabel ui-widget" title="Enter script creation time in hour">Script Creation Time(hour):</label>
          </div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationtimetest" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:scriptcreationtimetest_input" name="kpidataform:j_idt49:scriptcreationtimetest_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter script creation time in hour" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationtimetest&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationtimetest&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationtimetest_hinput" name="kpidataform:j_idt49:scriptcreationtimetest_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left">
            <label id="kpidataform:j_idt49:j_idt166" class="ui-outputlabel ui-widget" title="Enter script creation cost in dollar">Script Creation Cost($):</label>
          </div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:scriptcreationcosttest" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:scriptcreationcosttest_input" name="kpidataform:j_idt49:scriptcreationcosttest_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter script creation cost in dollar" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:scriptcreationcosttest&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:scriptcreationcosttest&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:scriptcreationcosttest_hinput" name="kpidataform:j_idt49:scriptcreationcosttest_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt168" class="ui-outputlabel ui-widget" title="Enter automated test count">Automated Test Count:</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:automatedtc" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:automatedtc_input" name="kpidataform:j_idt49:automatedtc_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter automated test count" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:automatedtc&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:automatedtc&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:automatedtc_hinput" name="kpidataform:j_idt49:automatedtc_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt169" class="ui-outputlabel ui-widget" title="Enter manual test count">Manual Test Count:</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:manualtc" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:manualtc_input" name="kpidataform:j_idt49:manualtc_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter manual test count" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:manualtc&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:manualtc&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:manualtc_hinput" name="kpidataform:j_idt49:manualtc_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt171" class="ui-outputlabel ui-widget" title="Enter test frequency">Test Frequency:</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:testfrequency" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:testfrequency_input" name="kpidataform:j_idt49:testfrequency_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter test frequency" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:testfrequency&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:testfrequency&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:testfrequency_hinput" name="kpidataform:j_idt49:testfrequency_hinput" type="hidden" autocomplete="off"></span></div>
          <div style="width:25%;float:left"><label id="kpidataform:j_idt49:j_idt172" class="ui-outputlabel ui-widget" title="Enter auto test frequency">Auto Test Frequency:</label></div>
          <div style="width:25%;float:left"><span id="kpidataform:j_idt49:autotestfrequency" class="ui-inputnumber ui-widget inputOnDataTable"><input id="kpidataform:j_idt49:autotestfrequency_input" name="kpidataform:j_idt49:autotestfrequency_input" type="text" value="" class="ui-inputfield form-control ui-inputtext ui-widget ui-state-default ui-corner-all" title="Enter auto test frequency" onblur="PrimeFaces.ab({s:&quot;kpidataform:j_idt49:autotestfrequency&quot;,e:&quot;blur&quot;,f:&quot;kpidataform&quot;,p:&quot;kpidataform:j_idt49:autotestfrequency&quot;});" role="textbox" aria-disabled="false" aria-readonly="false"><input id="kpidataform:j_idt49:autotestfrequency_hinput" name="kpidataform:j_idt49:autotestfrequency_hinput" type="hidden" autocomplete="off"></span></div>
        </div>
        <div style="clear:both"></div>
        <hr />

        <div>
          <div style="width:33%;float:left">
            <button class="btn">Reset</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn">Delete</button>
          </div>
          <div style="width: 33%; float: left">
            <button class="btn primary">Save</button>
          </div>
        </div>
        <br />
        <div style="clear:both"></div>
      </div>

    </li>


  </ul>
</div>
<br />
<hr />

<div>
  <div style="float:left;width:5%;">

  </div>
  <div style="float:left;width:20%;padding-left:5%">
    <button class="btn">Cancel</button>
  </div>
  <div style="width:40px"></div>
  <div style="float:left;width:20%;padding-left:5%">
    <button class="btn">Reset All</button>
  </div>
  <div style="width:40px"></div>
  <div style="float:left;width:20%;padding-left:5%">
    <button class="btn btn-danger">Delete All</button>

  </div>
  <div style="width:40px"></div>
  <div style="float:left;width:20%;padding-left:5%">
    <button class="btn primary">Save All</button>

  </div>
  <div style="float:left;width:5%;">

  </div>
</div>
<div style="clear:both"></div>
<hr />
<br />
