





<div class="app slide-right">
  <!-- Application bar -->
  <!--<nav class="appbar">
    <div class="actions-left">
      <div class="item">
        <i class="navigation-toggle closed"></i>
      </div>
      <div class="menu-anchor open-menu">Menu</div>
      <div class="title open-menu">
      </div>
    </div>
    <div class="actions-right"></div>
  </nav>-->
  <!-- Application body -->
  <div class="appbody">
    <!-- Navigation menu -->
    <!--<div class="appnav">
      <div class="tree navigation">
        <ul>
          <li>
            <div>
              <span class="title">Security</span>
              <ul >
                <li > <a routerLinkActive="active" class="item"   routerLink="/usermanagement/user">User</a></li>
                <li > <a routerLinkActive="active" class="item"  [routerLink]="['group']">Group</a></li>
              </ul>
            </div>

          </li>
        </ul>
      </div>
    </div>-->
    <!-- Content -->

    <div class="appcontent">

      <br />
      <router-outlet></router-outlet>
   
    </div>
  </div>
</div>
