

<!--<div style="text-align: center;padding-top: 10px;">
  <a routerLink="/dashboard/createGroup">
    <i class="icon icon-plus">&nbsp;Onboarded Groups</i>
  </a>
</div>
<br />
<ag-grid-angular #agGrid
                 style="width: 100%; height: 100%;"
                 id="myGrid"
                 class="ag-theme-alpine"
                 [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [suppressRowClickSelection]="true"
                 [groupSelectsChildren]="true"
                 [debug]="true"
                 [rowSelection]="rowSelection"
                 [rowGroupPanelShow]="rowGroupPanelShow"
                 [pivotPanelShow]="pivotPanelShow"
                 [enableRangeSelection]="true"
                 [pagination]="true"
                 [paginationPageSize]="paginationPageSize"
                 [paginationNumberFormatter]="paginationNumberFormatter"
                 [rowData]="rowData"
                 [suppressRowTransform]="true"
                 [frameworkComponents]="frameworkComponents"
                 (paginationChanged)="onPaginationChanged($event)"
                 (sortChanged)="onSortChanged($event)"
                 (gridReady)="onGridReady($event)"></ag-grid-angular>-->


<!--<div class="dialog" data-trigger="#openwarning"  data-type="simple">
  <div class="content">
    <div class="top">
      <div class="title">Leave without saving?</div>
    </div>
    <div class="body">
      <p>All changes will be lost.</p>
      <p>Are you sure you want leave the current page without saving? </p>
    </div>
    <div class="bottom">
      <button class="btn warning">Leave without saving</button>
      <button class="btn" data-close="true">Cancel</button>
    </div>
  </div>
</div>-->

<!--<btn-dialog class="dialog fullscreen" id="addeditproject" data-trigger="#opensimple" data-type="simple">
  <div title> Projects</div>
  <div body> Body</div>
  <div bottom>
    <button class="btn ghost" data-close="true">Cancel</button>
    <button class="btn primary">Submit</button>
  </div>
</btn-dialog>-->
