<div style="text-align: center;padding-top: 10px;">

  <!--<a eds-button="" class="btn" [routerLink]="['/dashboard/ProjectOnBoarding']">Project OnBoarding</a>
  <a eds-button="" class="btn" [routerLink]="['/dashboard/groupOnBoarding']">Group OnBoarding</a>-->

</div>


<!--<div class="row">
  <div class="col-xs-12 col-md-12 home-buttons center-block">
    <a href="#" class="col-xs-4 col-sm-4 col-md-2 HomepageBtn Animate">
      <div class="tile-text">
        AP REVIEW
      </div>
    </a>
    <a href="#" class="col-xs-4 col-sm-4 col-md-2 HomepageBtn Animate">
      <div class="tile-text">
        VAT CHECKER
      </div>
    </a>
    <a href="#" class="col-xs-4 col-sm-4 col-md-2 HomepageBtn Animate">
      <div class="tile-text">
        VAT CHECKER1
      </div>
    </a>
  </div>
</div>-->
<router-outlet></router-outlet>


