.light .kpi {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 8px;
}
.light .kpi .item {
  display: inline-block;
  padding-right: 4px;
}
.light .kpi.action:hover,
.light .kpi .action:hover {
  color: #0082f0 !important;
  cursor: pointer;
}
