.dark .calendar {
  position: absolute;
  z-index: 2;
  width: 260px;
  padding: 8px;
  background: #1f1f1f;
  border: 1px solid #4e4e4e;
}
.dark .calendar.opened {
  display: block;
}
.dark .calendar.closed {
  display: none;
}
.dark .calendar .head {
  padding: 8px 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dark .calendar .head i {
  opacity: 0.7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.dark .calendar .head i:hover {
  opacity: 1;
  cursor: pointer;
}
.dark .calendar .head i:nth-child(1),
.dark .calendar .head i:nth-child(2) {
  float: left;
}
.dark .calendar .head i:nth-child(5),
.dark .calendar .head i:nth-child(6) {
  float: right;
}
.dark .calendar table.body {
  width: 100%;
  table-layout: fixed;
  padding: 0 8px;
}
.dark .calendar table.body thead tr {
  color: #767676;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.dark .calendar table.body tbody tr {
  text-align: center;
  line-height: 2.1em;
}
.dark .calendar table.body tbody tr td.selected {
  color: white;
  background: #0082f0;
}
.dark .calendar table.body tbody tr td.selected:hover {
  background: #0082f0;
}
.dark .calendar table.body tbody tr td.selected .today {
  color: white;
  border-bottom-color: white;
}
.dark .calendar table.body tbody tr td.dummy:hover {
  background: none;
  cursor: default;
}
.dark .calendar table.body tbody tr td .today {
  border-bottom: solid 2px #0082f0;
  font-size: 1.1em;
  font-weight: 500;
  padding: 1px 4px;
}
.dark .calendar table.body tbody tr td:hover {
  background: #4e4e4e;
  cursor: pointer;
}
.dark .datepicker {
  position: relative;
}
.dark .datepicker .input-group {
  margin-bottom: 0;
}
.dark .datepicker .calendar {
  margin-top: 2px;
}
.dark .datepicker .btn {
  min-width: 24px;
  height: 28px;
}
.dark .datepicker .btn::after {
  content: "\e91a";
  font-size: 16px;
  font-family: "Ericsson Icons" !important;
}
